html, body {
	font-family: "Open Sans", arial;
	margin: 0;
	padding: 0;
}

.background {
  display: flex;
  flex-direction: column;
  transition: background-color .1s;
}

.page {
	padding: 15px;
	min-width: 150px;
}

.header {
	font-size: 20px;
	font-style: italic;
	font-family: Georgia;
}

.hr {
	border-bottom: 1px solid #333333;
	border-top: none;
	border-left: none;
	border-right: none;
}

.setting {
	display: flex;
	flex-direction: column;
	padding-top: 5px;
}

/*------Toggle------*/
label, .toggle {
  height: 30px;
  border-radius: 100px;
}
label {
  width: 100%;
  background-color: rgba(0,0,0,.1);
  position: relative;
  margin-top: 20px; 
  cursor: pointer;
}
.toggle {
  position: absolute;
  width: 50%;
  background-color: #fff;
  box-shadow: 0 2px 15px rgba(0,0,0,.15);
  transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.mode-types {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  user-select: none;
}
.dark {
  opacity: .5;
}
[type="checkbox"] {
	display: none;
}
[type="checkbox"]:checked + .background .toggle{
  transform: translateX(100%);
  background-color: #56585C;
}
[type="checkbox"]:checked + .background .dark{
  opacity: 1;
}
[type="checkbox"]:checked + .background .light{
  opacity: .5;
}
[type="checkbox"]:checked + .background {
  background-color: #1C2026;
  color: white;
}
/*------Toggle End------*/




