:root {
	--article-width: 650px;
	--background-color: white;
	--headline-color: black;
	--link-color: #326890;
	--abstract-color: #333333;
	--hr-color: #eaebeb;
	--caption-color: #666666;
}

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

html,
body {
	min-height: 100%;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
}

.text {
	font-family: Georgia, serif;
	width: var(--article-width);
	margin-left: auto;
	margin-right: auto;
}

.headline {
	margin-top: 40px;
	font-style: italic;
	font-size: 32px;
	color: var(--headline-color);
	text-decoration: none;
	position: relative;
	z-index: 2;
}

.headline:hover {
	color: #326890;
	text-decoration: underline;
	text-decoration-thickness: 2px;
}

.abstract {
	margin-top: 15px;
	color: var(--abstract-color);
	font-size: 20px;
}

.hr-article {
	border-bottom: 1px solid var(--hr-color);
	border-top: none;
	border-left: none;
	border-right: none;
	width: var(--article-width);
}

.image {
	margin-top: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	-webkit-animation: fadein 1s;
}

.caption {
	color: var(--background-color);
	transition: color 0.2s;
	margin-top: 7px;
	font-family: Georgia, serif;
	font-size: 16px;
	width: 650px;
}

.image:hover + .caption {
	color: var(--caption-color);
}
